body {
  font-family: Roboto;
}
.card {
  width: 18rem;
}

.imghouse #houses  {
  max-height: 380px;
}

#carouselExampleCaptions {
  padding-bottom: 100px;
}

#alignement {
  max-height: 300px;
  padding-left: 200px;
}


.row1 .col-9 .textpetit {
  padding-top: 100px;
  text-size-adjust: 30px;
  font-size: 15px;
  font-weight: bold;
  color: green;
}


.row1 .col-9{
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 50px;
}

.row1{
  padding-right: 500px;
}


#navbarSupportedContent{
  text-align: center;
  padding-bottom: 20px;
}

.row1 .col-4{
padding-bottom: 20px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.row p{
  color: green;
}