body {
  font-family: Roboto;
}
.card {
  width: 18rem;
}

.imghouse #houses  {
  max-height: 380px;
}

#carouselExampleCaptions {
  padding-bottom: 100px;
}

#alignement {
  max-height: 300px;
  padding-left: 200px;
}


.row1 {
  padding-top: 100px;
  text-size-adjust: 30px;
  font-size: 15px;
  font-weight: bold;
  color: #008776;
}


.row1 .col-9{
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 50px;
}

.row1{
  padding-left: 112px;
}


#navbarSupportedContent{
  text-align: center;
  padding-bottom: 20px;
}

.row1 .col-4{
padding-bottom: 12px;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.row p{
  color: #008776;
  font-weight: bold;
}
.row{
  padding-bottom: 150px;
}

 .latest{
  padding-left: 112px;
  font-weight: bold;
  font-size: 30px;
  
}

.viewall{
  
  font-weight: bold;
  font-size: 20px;
  padding-right: 112px;
}

.col-9 h3{
  font-size: 15px;
  padding-left: 112px;
  color: #008776;
  font-weight: bold;
}
.col-9 p{
  font-size: 25px;
  padding-left: 112px;
  font-weight: bold;
  padding-bottom: 80px;
}

.row3{
  padding-left: 112px;
}

.row2 #imgfluid{
  max-width: 25%;
  height: auto; 
}

.row2 p{
    display:inline-block;
    width:50%;
    margin: 0px 0px 0px 0px;
}

.box {
  display: grid;
  width: 540px;
  grid-template-columns: 120px 120px 120px;
  align-items: start;
  justify-content: space-between;
}

.box :first-child {
    align-self: center;
}
      